/* 
    Document   : admin_new_password
    Created on : 18 Mar, 2023, 10:44:56 AM
    Author     : ADMIN
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    background-image:url('image/forgot_pass1.jpg');
    background-size:  cover;
}
.textbox
{
    height: 35px;
    width: 250px;
    border-radius: 0px;
    margin-left: 70px;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.whitediv
{
    height: 400px;
    width: 500px;
    background-color: transparent;
    margin-left: 800px;
    margin-top: 150px;
}
.button
{
    margin-left: 160px;
    margin-top: 10px;
    border-radius: 10px;
    width: 90px;
    
}
.button:hover
{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}
.myclass
{
    margin-left: 50px;
    font-size: 30px;
}
.myclass1
{
    margin-left: 50px;
    font-size: 23px;
    margin-top: -30px;
}

.pic20
{
    background-image: url('image/back_button.png');
    margin-top: 30px;
    margin-left: 47px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 90%;
    
}

.button20
{
    margin-top: -15px;
    margin-left: -10px;
    height: 65px;
    width: 65px;
    border-radius: 10px;
    border-width: 3px;
    background-color:transparent;
    font-size: 25px;
    color: transparent;
    border-color: transparent;
}