/* 
    Document   : admin_win_bid
    Created on : 10 Apr, 2023, 2:32:08 PM
    Author     : ADMIN
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
   background-image: url('image/add.jpg');
   background-size: cover;
}
table
{
    width: 100%;
    border-style: solid;
    border: none;
    opacity: 0.7;
    font-weight: bold;
    
}

 
.whitediv1
{
    
    background-position-y: -200px;
    font-family: serif;
    height: 400px;
    width: 75%;
    margin-left: 160px;
    margin-top: 10px;
    
    overflow: scroll;
}
th
{
   background-color: #FFD433;
   height: 60px;
   font-size: 20px;
   text-align: center;
 
}
td
{
  text-align: center;
  height: 40px;
  font-size: 15px;
  color: white;
  
}

tr
{
   background-color: black;
   color: black;
    
}
tr:hover
{
    background-color: #ec971f;
   
   
}
.form
{
    height: 20px;
    width: 60px;
    border-radius: 10px;
    margin-left: 900px;    
}
.btn
{
    height: 20px;
    width: 45px;
    margin-left: 970px;
    margin-top: -40px;
    font-size: 10px;
    background-color: aqua;
   
}
.textbox
{
    height: 30px;
    width: 100px;
    margin-left: 1000px;
}

.button
{
    width: 80px;
    height: 30px;
    font-size: 15px;
    background-color: lavender;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 7px;
}
