/* 
    Document   : contact
    Created on : 11 May, 2023, 10:12:47 PM
    Author     : ADMIN
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    background-image:url('image/back.avif');
    background-size: cover;
}
table
{
    width: 100%;
    border-style: solid;
    border: none;
    opacity: 0.7;
    font-weight: bold;
    
}

 
.whitediv1
{
    background-color: gray          ;
    height: 500px;
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
  
    overflow: scroll;
}
th
{
   background-color: #FFD433;
   height: 60px;
   font-size: 20px;
   text-align: center;
 
}
td
{
  text-align: center;
  height: 40px;
  font-size: 15px;
  color: white;
  
}

tr{
    
   background-color: black;
   color: white;
    
}
tr:hover
{
    background-color: #ec971f;
   
   
}
.button
{
    width: 80px;
    height: 20px;
    font-size: 15px;
    background-color: lavender;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px;
}