/* 
    Document   : forgot_password
    Created on : 1 Feb, 2023, 1:43:15 PM
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    background-color: white;
}
.font
{
    font-size: 25px;
    margin-left: 80px;
}
.whitediv
{
    height: 600px;
    width: 800px;
    margin-top: 70px;
    background-image:url('image/forgot_pass3.jpg');
    background-size: cover;
}
.textbox
{
    margin-left: 50px;
    height: 40px;
    width: 240px;
    border-radius: 15px;  
}
.whitediv1
{
    height: 500px;
    width: 500px;
    background-color:  whitesmoke;
    border-radius: 80px;
    margin-top: 100px;
    margin-left: -100px;
}
.button
{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: pink;
    color: black;
    font-size: 18px;
}
.button:hover
{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    color: black;
}
.link
{
     height: 25px;
    width: 80px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: purple;
    color: white;
}
.myclass
{
    margin-left: 50px;
    font-size: 30px;
    padding-top: 40px;
}

.pic20
{
    background-image: url('image/back_button.png');
    margin-top: 30px;
    margin-left: 47px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 90%;
    
}

.button20
{
    margin-top: -15px;
    margin-left: -10px;
    height: 65px;
    width: 65px;
    border-radius: 10px;
    border-width: 3px;
    background-color:transparent;
    font-size: 25px;
    color: transparent;
    border-color: transparent;
}