/* 
    Document   : home_page
    Created on : 31 Jan, 2023, 6:15:30 PM
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    background-image:url('image/back12.jpg');
    background-size: cover;
}


.button
{
    margin-top: 10px;
    height: 30px;
    width: 150px;
    border-radius: 12px;
    background-color: turquoise;
    color: white;
    font-size: 20px;
    font-family: monospace;
    margin-left: 220px;
    
}
.button:hover 
{
    height: 34px;
    width: 155px;
    border-radius: 10px;
    background-color: wheat;
    color: black;
    font-family: serif;
}
.whitediv 
{
    height: 145px;
    width: 550px;
    color: black;
    background-color: transparent;
    border-color: black;
    border-radius: 30px;
    
}

p
{
    font-family: serif;
    font-size: 25px;
    color: white;
    margin-bottom: 25px;
    background-color: gray;
    opacity: 80%;
    border-radius: 20px;
}

label
{
    font-family: serif;
    color: white;
    font-size: 30px;
    margin-top: 30px;
}
.pic
{
   background-image:url('image/logo.jpg');
    background-size: cover;
    margin-left: 0px;
    height: 300%;
    width: 80%;
    background-repeat: no-repeat;
    margin-top: 110px;
    
}

.font1
{
     font-family: serif;
    color: black;
    font-size: 30px;
    margin-top: 300px;
    margin-left: 80px;
}