/* 
    Document   : payment
    Created on : 15 Feb, 2023, 11:17:48 AM
    Author     : Sam
    Description:
        Purpose of the stylesheet 
*/

root { 
    display: block;
}
body
{
    background-image:url('image/payment_back1.jpg');
    background-size: cover;
}
.whitediv
{
    height: 800px;
    width: 35%;
    background-color: transparent;
    margin-left: 35px;
    margin-top: 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
h3
{
    font-size: 40px;
}
.icon-container 
{
  margin-bottom: 0px;
  font-size: 55px;
  margin-left: 60px;
}
.textbox 
{
  width: 40%;
  margin-bottom: 20px;
  height: 35px;
  margin-left: 70px;
}
.textbox2
{
  width: 40%;
  margin-bottom: 20px;
  height: 35px;
  margin-left: -130px;
}
label 
{
  margin-bottom: 10px;
  display: block;
  margin-left: 80px;
  font-size: 20px;
}
.textbox1
{
    height: 40px;
    width: 60%;
    margin-left: 70px;
}
.btn 
{
  background-color: #04AA6D;
  color: white;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 120px;
}

.btn:hover 
{
  background-color: #45a049;
}
.font
{
    font-size: 30px;
    margin-left: -25px;
    margin-top: 35px;
}


.whitediv1
{
    height: 600px;
    width: 43%;
    background-color: transparent;
    margin-left: 35px;
    margin-top: 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.pic
{
    background-image: url('image/sam qr.png');
    height: 700px;
    width: 700px;
    background-repeat: no-repeat;
    background-size: 90%;
    margin-left: -30px;
    margin-top: -60px;
}

.myclass1
{
    height: 30px;
    width: 105px;
    margin-left: 100px;
}

.pic20
{
    background-image: url('image/back_button.png');
    margin-top: 30px;
    margin-left: 47px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 90%;
    
}

.button20
{
    margin-top: -15px;
    margin-left: -10px;
    height: 65px;
    width: 65px;
    border-radius: 10px;
    border-width: 3px;
    background-color:transparent;
    font-size: 25px;
    color: transparent;
    border-color: transparent;
}