/* 
    Document   : place_bid
    Created on : 13 Feb, 2023, 12:41:46 PM
    Author     : Sam
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    background-color: black;
}
.whitediv 
{
 height: 400px;
 width: 750px;
 margin-left: 30px;
 margin-top: 50px;
 background-color: transparent;
}
.whitediv1
{
 height: 700px;
 width: 480px;
 margin-left: -40px;
 margin-top: 50px;
 background-color: transparent;
 opacity: 80%;
 border-radius: 20px;
}   
.pic
{
    background-image: url('image/product.jpg');
    height: 800px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: 90%;
    margin-left: 0px;
    margin-top: 15px;
}
.Font
{
     margin-left: 50px;
     margin-top: 0px;
    font-size: 20px;
    width: 150px;
    color: white;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.Font1
{
     margin-left: 136px;
     margin-top: 0px;
    font-size: 20px;
    width: 140px;
    color: white;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.Font3
{
    margin-left: 120px;
    margin-top: 500px;
    font-size: 25px;
    width: 140px;
    color: white;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: serif;
    margin-bottom: -46px;
}
label
{
    margin-left: 50px;
     margin-top: -10px;
    font-size: 36px;
    width: 200px;
    color: white;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
label1
{
    margin-left: 85px;
     margin-top: -10px;
    font-size: 36px;
    width: 200px;
    color: white;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

label2
{
    margin-left: 120px;
     margin-top: -10px;
    font-size: 36px;
    width: 200px;
    color: white;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.button
{
    margin-left: 120px;
    margin-top: 10px;
    border-radius:40px;
    height: 45px;
    width: 250px;
    background-color: #cc00ff;
    color: white;
    font-size: 28px;
    font-family: serif;
}
.button:hover
{
    margin-left: 115px;
    margin-top: 6px;
    border-radius: 20px;
    height: 50px;
    width: 260px;
    background-color: #a6e1ec;
    color: white;
    font-size: 28px;
    font-family: serif;
    color: black;
}
p
{
    margin-left: 40px;
    font-size: 20px;
    color: white;
    font-family: cursive;
    font-style: italic;
}

.button2
{
 margin-left: 0px;
 border-radius: 10px;
 margin-top: 0px;
 height: 45px;
 width: 45px;
 background-color: transparent;
 color: transparent;
 
}

.pic11
{
    background-image: url('image/save_product.png');
    margin-top: -30px;
    margin-left: 490px;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 90%;
   
}

.pic20
{
    background-image: url('image/back_button.png');
    margin-top: 30px;
    margin-left: 47px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 90%;
    
}

.button20
{
    margin-top: -15px;
    margin-left: -10px;
    height: 65px;
    width: 65px;
    border-radius: 10px;
    border-width: 3px;
    background-color:transparent;
    font-size: 25px;
    color: transparent;
    border-color: transparent;
}

.timer
{
    font-family: serif;
    margin-top: -50px;
}